@page
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger mt-4">Erro.</h1>
<h2 class="text-danger mb-4">Ocorreu um erro ao processar sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID da Solicitação:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="alert alert-warning mt-4">
    <h3 class="alert-heading">Modo de Desenvolvimento</h3>
    <p>
        Mudar para o ambiente de <strong>Desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro ocorrido.
    </p>
    <hr>
    <p class="mb-0">
        <strong>O ambiente de Desenvolvimento não deve ser habilitado para aplicações publicadas.</strong>
        Isso pode resultar na exibição de informações confidenciais de exceções para usuários finais.
        Para depuração local, habilite o ambiente de <strong>Desenvolvimento</strong> definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> como <strong>Development</strong>
        e reiniciando a aplicação.
    </p>
</div>