a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.ifs-logo-inverted {
    filter: brightness(0) invert(1); /* Tenta tornar a parte não-vermelha branca */
}
/* Opcional: Remover o filtro se o fundo for claro (ex: no modo responsivo colapsado) */
/* .navbar-toggler:not(.collapsed) ~ .navbar-collapse .ifs-logo-inverted { filter: none; } */